.button img {
  padding: 5px;
  width: 180px;
  margin-right: 20px;
  height: auto;
  transform: scale(1);
  transition: 1s;
  float: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}

.button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

html {
  scroll-behavior: smooth;
}
